@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:900);

body{ 
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size:2em;
    width:22em;
    color: #000;
    /*
    background-image: url("../images/pinkwicked.png");
    background-size: center;
    background-color: #fff;
    background-repeat: no-repeat;
    */
    
body {
  display: block;
  margin: 8px;
}
header {
  /*
  padding: 20px;
  text-align: center;
  font-family: 'Cinzel Decorative':900;
  font-size:3em; */
}
h2 {
  font-size:1em;
  font-family: 'Comfortaa', bold;
}
div#wicked-iconrow {
  float: left; 
  margin: 0px 15px 15px 0px;
  text-align: left;
  font-size:2em;
hr {
  width: 100px;
  border-width: 2px
}
a {
    color: #cc0099;
    font-weight: bold;
    text-decoration: none;
  }

.column {
  width: 33%;
  display: inline-block;
}