body {
  text-align: center;
  background-image: url("../images/pinkwicked.png");
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  font-family: Tahoma;
  font-size: 16px; 
  color: #000;
}

div#wicked-iconrow {
	float: left; 
	margin: 0px 15px 15px 0px;
	text-align: left;
}

p {
  font-size: 16px;
  width: : 480px;
}
hr {
  width: 100px;

}
a {
    color: #cc0099;
    font-weight: bold;
}

.column {
  width: 33%;
  display: inline-block;
}